body {
    color: gray; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: flex; justify-content: space-evenly;
}
.info-container {
    display: flex;
}
.contact-container {
    margin-left: 10px;
}
.title {
    font-size: 18px; margin: 4px;
}
.subtitle {
    margin: 4px;
}
.cita {
    background-color: white; border: gray solid 2px; height: 35px; border-radius: 10px;
}
.presupuesto {
    background-color: grey; border: rgb(110, 110, 110) solid 2px; height: 35px; border-radius: 10px; color: white;
}
.comments-container {
    display: flex; align-items: center;
}
.mark {
    background-color: grey; font-size: 18px; color: black; margin-left: 10px; border-radius: 10px;
}
.mark p {
    margin: 5px; 
}

.cuadro { 
    border: 1px blue dotted padding= 10px 5px; 
}