#form-container {
    border: 1px solid black; padding: 50px;
}

.form-label {
    font-weight: bolder; width: 100px; padding-right: 30px; float: left; ;
}

.button-container {
    text-align: center;
}

.send-button {
    background-color: blue; color: white; border: none; border-radius: 10px; padding: 10px; font-size: 13px;
}

.send-button:hover {
    cursor: pointer;
    background-color: turquoise;
}