@media all and (min-width: 600px) {
    h2 {
        background-color: seagreen;
    }
    ul {
        background-color: orange;
    }
}

body {
    font-size: 14px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(105, 60, 8); background: cadetblue; line-height: 1.5;
}